<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<title>表情模仿秀</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script type="text/javascript">
	 <!--

		function restoreImg(srcpicid,textid)
		{
			
			// window.alert(srcpicid.src);
			 textid.value=srcpicid.src;
		}
		function myAlert() {
			window.alert("Hello");     
	    }
	 --> </script>
	 <script type="text/javascript">
		$(document).ready(function(){
			  $("#getpic").click(function(){
				$("#uploadFileId").toggle(400);
			});
		});
		$(document).ready(function(){
			  $("#uploadFileId").click(function(){
				$("#cal").show(400);
				$("#localImag").show();
			});
		});
		$(document).ready(function(){
			  $("#cal").click(function(){
				$("#localImag").hide();
			});
		});
	</script>
	<script type="text/javascript">
<!--		
            function setImagePreview(docObj,localImagId,imgObjPreview)   
            {  
				if ($.cookie("platform")=='a'){
					window.alert("图片成功上传！"); 
				}
                if(docObj.files && docObj.files[0])  
                {  
					//火狐下，直接设img属性  
                    imgObjPreview.style.display = 'block';  
                   // imgObjPreview.style.width = '1366px';  
                    //imgObjPreview.style.height = '768px';                      
      
      
                    //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式    
                    imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);  
                }  
                else  
                {  
                    //IE下，使用滤镜  
                    docObj.select();  
                    var imgSrc = document.selection.createRange().text;  
                      
                    //必须设置初始大小  
                    //localImagId.style.width = "1366px";  
                    //localImagId.style.height = "768px";  
                      
                    //图片异常的捕捉，防止用户修改后缀来伪造图片  
                    try  
                    {  
                        localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";  
                        localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;  
                     }  
                     catch(e)  
                     {  
                        alert("您上传的图片格式不正确，请重新选择!");  
                        return false;  
                      }                            
                      imgObjPreview.style.display = 'none';  
                      document.selection.empty();  
                } 
				
				document.getElementById('cal').scrollIntoView();
				location.hash="#cal";
                return true;  
            }  
			--> </script>

</head>

<body style ="background-color: #FFD306">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
	   aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" 
				   data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">欢迎使用表情模仿秀！</h4>
				</div>
				<div class="modal-body">
					<p>想成为表情模仿达人吗？摆脱扑克脸，发现自己丰富多彩的表情吧！本应用会随机给出一个表情，您模仿的越像，“模仿指数”越高哦~</p>
					<p>步骤一：点击蓝色的按钮，来看看自己想要模仿的表情是什么。</p>
					<p>步骤二：感觉不是很对？那么换一个来模仿吧！</p>
					<p>步骤三：记下这个表情的精髓！然后默默准备好表情，越像越传神越好~</p>
					<p>步骤四：拍照或者上传你的模仿秀照片~来看看你的“模仿指数”是多少吧~</p>
					<p><strong>无奈的提示1：拍照时请保持竖着拍哦！有时无法识别不是因为颜艺糟糕而是方向不对~。~</strong></p>
					<p><strong>无奈的提示2：Android版微信似乎并不能很好地支持文件上传……Android的朋友们可能需要通过外部浏览器打开访问了</strong></p>
					<p>下面是样例哟：</p>
					<img id="example" class="img-thumbnail" alt="" src="/static/img/help/example.jpg"/>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" 
				   data-dismiss="modal">关闭</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	<!-- /.modal -->
	<nav class="navbar navbar-static-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!--
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>-->
			</div>
			<button href="#"class="navbar-brand navbar-right pull-right" data-toggle="modal" data-target="#myModal">→_→怎么玩嘛</button>
		</div>
	</nav>

	<!--弹出模态框说明玩法，初始的图片展示栏，两个按钮：看看模仿什么表情、换一个。上传照片，提交-->
	<div class="container">
		<div class="row" style="text-align: center">
			<h1 style="font-family:Palatino Linotype margin: auto">表情模仿秀</h1>
		</div>
		<br/>

		<!--
			<button type="button" class="btn btn-info col-xs-6 col-lg-6" onclick='$.get("/another", function(data){console.log(data); $("#preview2").attr("src", data);});'>DUANG！换一个</button>
	-->
	<div id="localImag2" class=""style="width: 100%; text-align: center">
		<img id="preview2" class="img-thumbnail" alt="" src="/static/img/help/black.png" style="background-color: #FFD306; border: #FFD306"/>
		<!--onload="javascript:restoreImg(preview2,pic1);" onchange="javascript:restoreImg(preview2,pic1);" />-->
	</div>
	<button id="getpic" type="button" class="btn btn-info col-xs-10 col-xs-offset-1 col-lg-6" onclick='$.get("/another", function(data){console.log(data); $("#preview2").attr("src", data); $.cookie("dst_img", data);});$("#uploadFileId").show(400);$("#getpic").html("换一个表情？");'>要模仿什么？</button>

	<a id="uploadFileId"style="display:none"class="btn btn-success col-xs-10 col-xs-offset-1" onclick=" document.getElementById('pic2').click();">上传自己的模仿照片，尽量传神哦</a>

	<div class="row">
		<!-- 这里我随便也了个跳转，表单传了两个input：一个file一个text。-->
		<form action="/result" role="form" method="Post" enctype="multipart/form-data" id="calc_score">
			<div class="col-xs-12" id="localImag" style="text-align: center; background-color: #FFD306; display:none">
				<img id="preview" alt="" style="background-color: #FFD306; border: #FFD306" class="img-thumbnail col-md-6 col-md-offset-3 "/>
			</div>
			<div id="cal" name="cal" class="row" style="text-align:center;display:none">
				<button type="submit" style="margin: auto" class="btn-lg btn-danger" onclick='$("#localImag").hide();$("#calc_score").attr("action", "/result?dst_img="+$.cookie("dst_img"));return true;'>计算我的模仿指数(╯°Д°)╯</button>
			</div>

			<input name="photo" type="file" class="btn btn-default" accept="image/*" style="visibility: hidden;" id="pic2" onchange="javascript:setImagePreview(this,localImag,preview); $('#cal').show();$('#localImag').show();" required="required">
		</form>
	</div>
</div>

<br/>
<br/>
<br/>

<!--nav name="bottom" id="bottom" class="navbar navbar-fixed-bottom navbar-inverse"style=" display:none">
	<span class="navbar-text"style="font-family:Palatino Linotype">
		Designed by Qingying Chen, Yiqun Ouyang, Minxing Liu, Yangqingwei Shi, Peking University.
	</span>
</nav-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.js"></script>
<script type="text/javascript">
	 	var browser = {
			versions: function() {
				var u = navigator.userAgent, app = navigator.appVersion;
				return {//移动终端浏览器版本信息 	
					trident: u.indexOf('Trident') > -1, //IE内核
					presto: u.indexOf('Presto') > -1, //opera内核
					webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
					gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
					mobile: !!u.match(/AppleWebKit.*Mobile.*/) || !!u.match(/AppleWebKit/), //是否为移动终端
					ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
					android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
					iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
					iPad: u.indexOf('iPad') > -1, //是否iPad
					webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
				};
			}(),
			language: (navigator.browserLanguage || navigator.language).toLowerCase()
		}
 
		if (browser.versions.ios || browser.versions.iPhone || browser.versions.iPad) {
			$.cookie("platform", 'i');
		} else if (browser.versions.android) {
			$.cookie("platform", 'a');
		}else{
			$.cookie("platform", 'n');
		}
</script>

</body>
</html>